html{
    color: darkslategray;
}

h1{
    color: blue;
}

form{
    color: firebrick;
    position: absolute;
    size: auto;
    top: 250px;
    left: 500px;
    background-color: olive;
}
.nav_bar{
    color: saddlebrown;
}

#submit{
    position: absolute;
}
